@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cabecalho {
    display: inline-flex;
    padding: 35px 370px 35.176px 390px;
    justify-content: flex-end;
    align-items: center;
    gap: 391px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--Colors-white, #F8F8FF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

body {
    background-color: #e0f3f8;
}

.menu {
    background-color: #f7f7fe;
    width: 519px;
    height: 36px;
    top: 52px;
    left: 1031px;
}

.botoesHeader {
    background-color: #f7f7fe;
    display: flex;
    width: 519px;
    height: 36px;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    height: 36px;
    border: none; 
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #063643;
}

.logo {
    width: 250px;
    height: 69.824px;
}

.conteudoinicio {
    display: flex;
    flex-direction: column; /* Organiza os elementos de cima para baixo */
    align-items: center; /* Centraliza horizontalmente */
    position: relative;
}
.contato {
    width: 1180px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: var(--Colors-white, #F8F8FF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.carrossel {
    width: 1180px;
    height: 332px;
    top: 640px;
    left: 370px;
    background-color: #63B3C9;
    position: relative;
}