@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cabecalho {
    background-color: #f7f7fe;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    border-bottom: 2px solid #ccc; 
    padding-bottom: 10px; 
}

body {
    background-color: #e0f3f8;
}

header {
    background-color: #F8F8FF;
    width: 1920px;
    height: 140px;
    border: 1px;
}

.menu {
    background-color: #f7f7fe;
    width: 519px;
    height: 36px;
    top: 52px;
    left: 1031px;
}

.botoesHeader {
    background-color: #f7f7fe;
    width: 63px;
    height: 36px;
    border: none; 
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #063643;
    padding-right: 4px;
    padding-left: 4px;
    gap: 12px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 400px;
}
.contato{
    width: 1180;
    height: 450;
    top: 160px;
    left: 370px;
    border-width: 1px;
    border-radius: 8px;
    background-color: #F8F8FF; /* Cor para visualizar */
    border: 1px solid #00000026
}